<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dad Jokes App</title>
</head>

<header>
    <h1>Dad Jokes</h1>
    <nav>
        <a href="/jokes/new">Add a new joke</a>
    </nav>
</header>

<body>
    {{{body}}}
</body>

</html>